
*
{
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);   
}


a{
    text-decoration: none;
}
#header{
    display: flex;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
}
#aside{
    margin-top: 1.5%;
    cursor: pointer;
}

#logo{
    font-family: 'Oswald', sans-serif;
    color: rgb(40, 18, 238);
    margin-left: 6%;
    font-size: 50px; 
    cursor: pointer; 
}

#buscar{
    width: 30%;
    height: 40px;
    font-size: 18px;
    color: black;
    outline:none;
    border: 1px solid silver;
    border-radius: 30px;
    background-color: white;
    margin-left: 15%;
    margin-top: 1%;
    padding-left: 0.8%;
}

#lupa{
    background-color: transparent;
    margin-top: 1.4%;
    margin-left: 1%;
    cursor: pointer;
}

#cerrarsesion{
    width: 300px;
    height: 70px;
    background-color: rgb(40, 18, 238);
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 0.3%;
    cursor:pointer;
    color: white;
}

#cerrarsesion p
{
    font-size: 240%;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
}

#cerrarsesion:hover{
 
    background-color:#008db8 ;
}

#registrar{
    width: 200px;
    height: 70px;
    background-color: rgb(40, 18, 238);
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 0.3%;
    cursor:pointer;
    color: white;
}

#registrar p
{
    font-size: 240%;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
}

#registrar:hover{
 
    background-color:#008db8 ;
}

#perfil{

    width: 90px;
    height: 90px;
    background-color: rgb(40, 18, 238);
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 5%;
    cursor:pointer;
    color: white;
}

#perfil svg
{
    
    background-color:transparent;
    justify-content: center;
}

#perfil:hover{
 
    background-color:#008db8;
}

#hr{
    margin-top: 1%;
    margin-left: 2%;
    width: 96%;
}

#hrasig{
    margin-top: 7%;
    margin-left: 2%;
    width: 96%;
    border: 4px solid rgb(101, 83, 255);
}

#motivacion{
    width: 50%;
    margin-top: 4%;
    margin-left: 23%;
}

#motivacion h3{
    margin-bottom: 3%;
    padding: 2%;
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Updock', cursive;
}

#motivacion img{
    display: block;
    margin: auto; 
}

#consejos{
    width: 47%;
    height: 40%;
    margin-top: 6%;
    margin-left: 26%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #fafafa;
}

#consejos h4{
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #fafafa;
}

#contenidoarriba{
    display: flex;
    background-color: #fafafa;
}

#arribaizquierda{
    display: flex;
    width: 40%;
    margin-top: 1%;
    margin-left: 5%;
    background-color: #fafafa;
}

#nube
{
    margin-top: 1%;
    background-color: #fafafa;
}

#arribaizquierda p{
    font-size: 16px;
    margin-left: 3%;
    margin-top: 2%;
    font-family: 'Oswald', sans-serif;
    background-color: #fafafa;
}

#arribaderecha{
    display: flex;
    width: 40%;
    margin-top: 1%;
    margin-left: 10%;
    background-color: #fafafa;
}

#estrella
{
    margin-top: 2%;
    background-color: #fafafa;
}

#arribaderecha p{
    font-size: 16px;
    margin-left: 3%;
    margin-top: 2%;
    font-family: 'Oswald', sans-serif;
    background-color: #fafafa;
}

#contenidoabajo{
    margin-top: 5%;
    background-color: #fafafa;
}

#abajo{
    margin-left: 20%;
    margin-bottom: 3%;
    display: flex;
    width: 60%;
    background-color: #fafafa;
}

#abajo p{
    font-size: 16px;
    margin-left: 3%;
    font-family: 'Oswald', sans-serif;
    background-color: #fafafa;
}

#libro{
    background-color: #fafafa;
}

#footer{
    width: 100%;
    height: 150px;
    background-color: rgb(101, 83, 255);
    margin-top: 5%;
    display: flex;
    
}

#empresa{
    background-color: rgb(101, 83, 255);
    font-family: 'Oswald', sans-serif;
    margin-left: 20%;
    margin-top: 2%;
    font-size: 20px;
    height: 60%;
    
}

#contacto{
    background-color: rgb(101, 83, 255);
    margin-left: 15%;
    margin-top: 2%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 60%;
}

#social{
    background-color: rgb(101, 83, 255);
    font-family: 'Oswald', sans-serif;
    margin-left: 15%;
    margin-top: 2%;
    font-size: 20px; 
    height: 60%;
}
#social a{
    background-color: rgb(101, 83, 255);

}

#iconoinsta{
    background-color: rgb(101, 83, 255);
    color: black;
    
}

#iconotwitter{
    background-color: rgb(101, 83, 255);
    margin-left: 8%;
    color: black;
}

#menulateral{
    width: 15%;
    background-color: rgb(101, 83, 255);
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -105px;
}

#menulateral p{
    background-color: rgb(101, 83, 255);
    /*margin-left: 30%;*/
    margin-top: 22%;
    /*margin-right: 25%;*/
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    cursor:pointer;
    text-align: center;
}

#menulateral p:hover{
    text-decoration: underline;
}

.hrlateral{
    margin-top: 18%;
    margin-left: 5%;
    margin-right: 5%;
}

#formularioregis
{
    width: 30%;
    height: 530px;
    background-color: rgb(101, 83, 255);
    margin:auto;
    position: absolute;
    margin-top: -40%;
    margin-left: 32%;
    padding:20px 30px;
    color:white;
    border: 2px solid black;
}

#formularioregis h5
{
    margin:0;
    text-align: center;
    height: 40px;
    border-bottom: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(101, 83, 255);
}

#formularioregis a
{
    background-color: transparent;
    color: white;
}

#formularioregis p{
    background-color: rgb(101, 83, 255);
    text-align: center;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#formulariomodificar
{
    width: 50%;
    height: 490px;
    background-color: rgb(101, 83, 255);
    margin:auto;
    margin-top: 5%;
    margin-left: 22%;
    padding:20px 30px;
    color:white;
    border: 2px solid black;
}

#formulariomodificar h5
{
    margin:0;
    text-align: center;
    height: 40px;
    border-bottom: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(101, 83, 255);
}

#formulariomodificar a
{
    background-color: transparent;
    color: white;
}

#formulariomodificar p{
    background-color: rgb(101, 83, 255);
    text-align: center;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#boton{
    width: 25%;
    margin-left: 37%;
    height: 40px;
    background-color: white;
    margin-top:3%;
}

#botonvolver{
    margin-left: 37%;
    margin-top: 3%;
    height: 40px;
    background-color: white;
    width: 25%;
}

#formularioinicio
{
    width: 30%;
    height: 300px;
    background-color: rgb(101, 83, 255);
    margin:auto;
    position: absolute;
    margin-top: -30%;
    margin-left: 32%;
    padding:20px 30px;
    color:white;
    border: 2px solid black;
}

#formularioinicio h5
{
    margin:0;
    text-align: center;
    height: 40px;
    border-bottom: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(101, 83, 255);
}

#formularioinicio a
{
    background-color: transparent;
    color: white;
}

#formularioinicio p{
    background-color: rgb(101, 83, 255);
    text-align: center;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#boton{
    width: 25%;
    margin-left: 37%;
    height: 40px;
    background-color: white;
    margin-top:3%;
}

#botonvolver{
    margin-left: 37%;
    margin-top: 3%;
    height: 40px;
    background-color: white;
    width: 25%;
}

.form{
    width: 97%;
    border: 1px solid white;
    margin-bottom: 15px;
    padding: 11px 10px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
}

#formselect{

    width: 101%;
    border: 1px solid white;
    margin-bottom: 15px;
    padding: 11px 10px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
}

#formselectmod{

    width: 99.5%;
    border: 1px solid white;
    margin-bottom: 15px;
    padding: 11px 10px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
}

#tituloapuntes{
    margin-left: 43%;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    color: rgb(101, 83, 255);
    margin-top: 2%;
}

#titulotodosapuntes{
    margin-left: 41%;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    color: rgb(101, 83, 255);
    margin-top: 2%;
}

#apuntesbox{
    background-color: transparent;
    width: 100%;
    height:20%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0%;
}

.cajita:hover
{
    transform:scale(1.1);
}

.cajita
{
    width: 20%;
    margin-left: 4%;
    background-color: #d4d3d3;
    border-radius: 10%;
    border: 2px solid rgb(101, 83, 255);
    margin-top: 5%;
}

.cajitatodo{
    width: 20%;
    margin-left: 4%;
    background-color: #d4d3d3;
    border-radius: 10%;
    border: 2px solid rgb(101, 83, 255);
    margin-top: 5%;
}

.cajitatodo:hover
{
    transform:scale(1.1);
}

.titulocaja
{
    font-family: 'Oswald', sans-serif; 
    font-size: 120%;
    text-align: center;
    margin-top:2%;
    background-color: transparent;
}

.imagencaja{
    background-color: transparent;
    height: 80%;
    width: 80%;
    border-radius: 5%;
    margin-left: 10%;
    margin-top: 6%;
}

.interior{
    display: flex;
    background-color: #d4d3d3;
    padding:2%;
    margin-left: 10%;
    margin-right: 5%;
}

.interior p{
    background-color: transparent;
    text-decoration: none;
}

#cadaasig:hover{
    text-decoration: underline;
    cursor: pointer;
}

#asignaturamain{
    width: 100%;
    height: 100%;
    
}

#tusasignaturas{

    width: 25%;
    height: 50%;
    margin-top: 3%;
    margin-left: 36%;
}

#a単adirasignaturas{
    height: 50%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

.cajitaasignaturas{
    margin-top:10%;
    background-color: rgb(101, 83, 255);
    border: 2px solid #060707;
    display: flex
}

.cajitaasignaturas p{
    background-color: rgb(101, 83, 255);
    padding: 2%;
    width: 80%;
    font-family: 'Oswald', sans-serif;
    font-size: 125%;
}

.cajitaasignaturasa単adir{
    margin-top:10%;
    background-color: rgb(101, 83, 255);
    border: 2px solid #060707;
    display: flex;
    margin-left: 6%;
    width:25%;
}

.cajitaasignaturasa単adir p{
    background-color: rgb(101, 83, 255);
    padding: 2%;
    width: 80%;
    font-family: 'Oswald', sans-serif;
    font-size: 125%;
}

.papelera{
    background-color: transparent;
    float: right;
    margin-top: 2%;
    width: 20%;
    cursor: pointer;
}

.papelera:hover{
    color: red;
}

.papeleraapuntes{
    background-color: transparent;
    margin-left: 18%;
    margin-top:4%;
    cursor: pointer;
}

.papeleraapuntes:hover{
    color: red;
}

.downloadapuntes{
    background-color: transparent;
    margin-left: 13%;
    margin-top:4%;
    cursor: pointer;
}

.downloadapuntes:hover{
color: rgb(21, 255, 0);
}

#tituloasignaturas{
    margin-left: 13%;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    color: rgb(101, 83, 255);
    margin-top: 2%;   
}

#a単adirasignaturastitulo{

    margin-left: 22%;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    color: rgb(101, 83, 255);
    margin-top: 5%;
    width: 40%; 
}

#tituloarribaasignaturas{
    margin-left: 20%;
    width: 100%;
}

.suma{
    background-color: transparent;
    float: right;
    margin-top: 1%;
    width: 20%;
    cursor: pointer;
}

.suma:hover{
    color: rgb(22, 255, 22);
}

#partetitulo{
    display: flex;
    margin-bottom: -2%;
}

#subirapuntes{
 
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    margin-top: 3%;
    margin-left: 0.7%;
    color: rgb(101, 83, 255);
}

#upload{
    color:rgb(101, 83, 255);
    margin-left: 25%;
    margin-top: 3.5%;
}

#apuntescajitas{
    display: flex;
    flex-wrap: wrap;
}

#tituloapuntestodo h3{
    font-family: 'Oswald', sans-serif;
    color: rgb(101, 83, 255);
    font-size: 50px;
    margin-left: 10%;
    margin-top: 5%;
}
#todosapuntes{
    background-color: transparent;
    width: 100%;
    height:20%;
    margin-left: 0%;
}

.apuntesmicajita{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0%;
}




